body {
            color:white;
            font-family: 'Courier New', Courier, monospace;
            background-image: url('flowers.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 20px;
        }